<nav>
    <div class="nav-wrapper #5c6bc0 indigo lighten-1">
        <div class="container">
            <a href="/" class="brand-logo header-text">Noma</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#">
                        <img src="../public/assets/images/facebook.png" class="responsive-img nav-social" alt="facebook link">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../public/assets/images/instagram.png" class="responsive-img nav-social" alt="instagram link">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../public/assets/images/twitter.png" class="responsive-img nav-social" alt="twitter link">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../public/assets/images/pinterest.png" class="responsive-img nav-social" alt="pinterest link">
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="../public/assets/images/google-plus.png" class="responsive-img nav-social" alt="google plus link">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>