<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- Compiled and minified CSS -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	
	<!-- Compiled and minified JavaScript -->
	<link href="https://fonts.googleapis.com/css?family=Handlee|Catamaran|Fredericka+the+Great|Londrina+Sketch" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../public/assets/css/style.css">
	<title>The Noma - Draw, Guess, Win!</title>
		
	</head>
	<body>
		{{>navbar}}
		
		{{{ body }}}
		
		<script src="../public/assets/js/canvas.js"></script>
		<script src="../public/assets/js/javascript.js"></script>
	</body>
</html>
