
    <div class="container">

        <div class="row">

            <div class="col s6 center-align">
                <h3 class="header-text-hm">Hazard A Guess:</h3>
                <p id="user-to-guess" class="bubble-text flow-text"></p>
            </div>
            <div class="col s6">
                <span class="flow-text bubble-text">Type your guess in the form below. After making your guess, you will be asked to rate the drawing.
                </span>
            </div>

        </div>

        <div class="row valign-wrapper">
            <div class="col s2"></div>
            <div class="col s8 center-align place-hldr" id="to-guess">
               <img src={{drawing}} data-value={{id}}>
            </div>
            <div class="col s2"></div>
        </div>


        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <form method="">
                    <div id="guess-form">
                            <div class="input-field">
                                <input type="text" id="guess">
                                <label class="active bubble-text" for="guess">Guess</label>
                            </div>
                            <button class="btn btn-large #5c6bc0 indigo lighten-1 bubble-text" type="submit" id="guess-submit">Guess!?</button>
                    </div>
                </form>
                
                    <div class="hide" id="rate-art">
                            <h4><span class="header-text-hm">Answer:</span><span id="answer" class="bubble-text">{{answer}}</span></h4>
                            <p class="bubble-text">Please rate the drawing. How close was it to the answer provided?</p>
                            <div class="input-field">
                                <select id="art-rating">
                                    <option value="" disabled selected class="bubble-text">Rate this Masterpiece!</option>
                                    <option value="1">1 Stars</option>
                                    <option value="2">2 Stars</option>
                                    <option value="3">3 Stars</option>
                                    <option value="4">4 Stars</option>
                                    <option value="5">5 Stars</option>
                                </select>
                                <label>Art Rating</label>
                            </div>

                            <button class="btn btn-large #5c6bc0 indigo lighten-1 bubble-text" type="submit" id="submit-all">Submit</button>
                    </div>
               
            </div>
            <div class="col s2"></div>
        </div>

    </div>
