
    <div class="container">

        <div class="row">

            <div class="col s6 center-align">
                <h3 class="header-text-hm">Hazard A Guess:</h3>
                <p id="user-to-guess" class="bubble-text flow-text"></p>
            </div>
            <div class="col s6">
                <span class="flow-text bubble-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem aperiam ullam, ex libero tempore reiciendis.
                </span>
            </div>

        </div>

        <div class="row valign-wrapper">
            <div class="col s2"></div>
            <div class="col s8 center-align place-hldr" id="to-guess">
               
            </div>
            <div class="col s2"></div>
        </div>


        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <form method="POST">
                    <div class="input-field">
                        <input type="text" id="guess">
                        <label class="active bubble-text" for="guess">Guess</label>
                    </div>
                    <button class="btn btn-large #5c6bc0 indigo lighten-1 bubble-text" type="submit" id="guess-submit">Submit</button>
                </form>
            </div>
            <div class="col s2"></div>
        </div>

    </div>
