<div class="container">

    <div class="row">

       
        <div class="col s12 center-align">
            <img src="../public/assets/images/new_noma_banner.png" id="logo-home" class="responsive-img">
        </div>
       

    </div>

</div>

    <div class="row valign-wrapper" id="howTo-home">
        <div class="container icons">
            <div class="row valign-wrapper">

                    <div class="col s4 center-align">
                        <img src="../public/assets/images/hand_cir.png" class="home-infoImg">
                        <h2 class="header-text-hm">Draw</h2>
                    </div>
                    <div class="col s4 center-align">
                        <img src="../public/assets/images/quest_cir.png" class="home-infoImg">
                        <h2 class="header-text-hm">Guess</h2>
                    </div>
                    <div class="col s4 center-align">
                        <img src="../public/assets/images/award_cir.png" class="home-infoImg">
                        <h2 class="header-text-hm">Win!</h2>
                    </div>
            </div>

                
            <div class="row valign-wrapper start-btn">
                    <div class="col s12 center-align">
                        <!-- <button class="btn btn-large homeBtn #5c6bc0 indigo lighten-1">Sign in</button> -->
                        <a href="/auth/google" class="btn waves-effect btn-large homeBtn #5c6bc0 indigo lighten-1"> <span class="btn-txt">Get Started!</span></a>
                    </div>                  
            </div>  

        </div>
        
    </div>


      
             
        


<!-- MODAL STRUCTURE -->
<!-- <div id="modal1" class="modal">
        <div class="modal-content">
            <h4 class="header-text">Modal Header</h4>
            <p>A bunch of text</p>
        </div>
        <div class="modal-footer #5c6bc0 indigo lighten-1">
            <a href="" class="modal-action modal-close header-text center-align">Button</a>
        </div>
    </div> -->

<!-- 
    <script>
        $(document).ready(function() {
            // Init Modal
            $('.modal').modal();
        });
    </script>
</body>

</html> -->