
    <div class="container">

        <div class="row">

            <div class="col s6">
                <h2 class="header-text">Welcome</h2>
                <p><h4 class="bubble-text" id="user-name">{{username}}</h4></p>
            </div>

            <div class="col s6">
                <p class="flow-text bubble-text">You can draw a new masterpiece for other users to guess, or view drawing made by other users and make a guess yourself!</p>
            </div>

        </div>

        <div class="row valign-wrapper" id="homeBtn-row">

            <div class="col s2">
                <!-- Promo Content 1 goes here -->
            </div>
            <div class="col s4 center-align">
                <a href="/draw">
                <h2 class="header-text-hm">Draw Your Masterpiece</h2>
                <img src="../public/assets/images/bread.png" alt="bread running on treadmill" class="responsive-img">
                </a>
            </div>
            <div class="col s4 center-align">
                <a href="/guess">
                    <h2 class="header-text-hm">Hazard A Guess?</h2>
                    <img src="../public/assets/images/cat.png" alt="bread running on treadmill" class="responsive-img">
                </a>
            </div>
            <div class="col s2">
                <!-- Promo Content 3 goes here -->
            </div>

        </div>


    </div>
